html, body {
    font-family: Trebuchet MS;
    height: 100%;
    margin: 0;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 22px;
}

.page-body {
    display: block;
    position: relative;
    width: 100%;
}

.page-top-left {
    float: left;
    display: inline-block;
}

.clear-both { clear: both; }

.page-top {
    border-bottom: 1px solid #3176bb;
    padding: 10px;
    text-align: right;
    margin-bottom: 20px;
}

.page-center {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-center .btn-back {
    margin: 50px auto 0 auto;
    text-decoration: none;
    border: 1px solid #75787b;
    background: white;
    color: #75787b;
    padding: 7px 0;
    width: 80px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.page-center .btn-back:hover {
    background-color: white;
    color: #004890;
    text-decoration: none;
    border-color: #004890;
}

.page-box {
    display: inline-block;
    position: relative;
    padding: 30px 50px;
    margin: 30px auto;
    color: #3176bb;
    left: 50%;
    transform: translate(-50%, 0);
}

.page-box h1 {
    display: block;
    width: 100%;
    margin: 20px 0;
    color: black;
}

.page-box .page-button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.page-box .page-button-text {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.input-text-only {
    font-size: 14px;
    padding: 3px 0;
    margin: 0 0 15px 0;
    border-bottom: 2px solid transparent;
    color: black;
    font-weight: normal;
    display: block;
}

.input-about { min-width: 300px; }

.page-input {
    position: relative;
    font-size: 14px;
    padding: 7px 11px;
    display: block;
    margin: 0 0 15px 0;
    color: black;
    border: 1px solid #3176BB;
    min-width: 300px;
}

textarea.page-input {
    width: 300px;
    color: black;
    max-height: 250px;
}

.page-input:focus {
    outline: none;
    border-color: #3176bb;
}

.page-input-box {
    font-size: 14px;
    display: block;
    position: relative;
}

.page-input-box.has-error .page-input { border-color: #AC0C0C; }

.page-input-placeholder {
    display: block;
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.btn-container .page-button {
    float: right;
    margin-left: 5px;
}

.page-button {
    text-decoration: none;
    border: 1px solid #3176bb;
    background: #3176bb;
    color: white;
    padding: 10px 5px;
    min-width: 120px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.6px;
    cursor: pointer;
}



.page-button:hover {
    background-color: #004890;
    color: white;
    text-decoration: none;
}

.page-button.btn-back {
    display: block;
    width: 70px;
}

.page-button.btn-back:before {
    content: "<";
    font-size: 17px;
    padding-right: 10px;
}

.page-button.btn-long {
    width: 135px;
    text-align: center;
}

.page-button.btn-add { display: block; }




.page-button-text {
    text-transform: uppercase;
    text-decoration: none;
    color: #3176bb;
    font-weight: bold;
    font-size: 14px;
}

.page-button-text:hover { color: #004890; }

.page-grid {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
}

.page-grid thead th {
    padding: 10px;
    background: #3176bb;
    color: white;
    font-weight: normal;
    text-align: left;
}

/*.page-grid thead th:nth-child(2) { min-width: 150px; }

.page-grid thead th:first-child { min-width: 150px; }
*/
.page-grid thead th:last-child { }

.page-grid tbody td { padding: 4px 10px; }

.page-grid tbody tr:nth-child(2n + 0) { background: #F9F7F7; }

.page-grid tbody tr.active-scheule-row { background: #85e085; }

/*
.page-grid tbody td:last-child { text-align: right; }

.page-grid tbody td:nth-child(3) {
    text-align: right;
    width: 150px;
}
*/

.page-grid tbody a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #3176bb;
}

.page-grid tbody a:hover {
    color: #004890;
    text-decoration: underline;
}

.page-grid-top {
    margin: 20px 0 20px 0;
    position: relative;
    min-width: 450px;
}

.page-grid-top .btn-add {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}